<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /getblocklab-demo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /getblocklab-demo/index.php [L]
</IfModule>
